Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: fix-byte-order-marker
        language: system
        types: [text]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ssort
        name: ssort
        entry: poetry run ssort
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: system
        types: [text]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

Fix inverted missing kernels logic
  euporie/core/tabs/base.py
Due: ssort, black, isort, flake8

Bug fixes
  CHANGELOG.rst
  euporie/core/__init__.py
  euporie/core/widgets/cell.py
  euporie/notebook/app.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Linting fixes
  euporie/core/formatted_text/table.py
Due: ssort, black, isort, flake8

Minor publish script changes
  scripts/publish.py
Due: ssort, black, isort, flake8

Prevent unnecessary re-rendering of cells
  CHANGELOG.rst
  euporie/core/widgets/cell.py
  euporie/core/widgets/page.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Attempt to prevent re-wrapping cell mouse handlers
  euporie/core/app.py
  euporie/core/widgets/cell.py
Due: ssort, black, isort, flake8

Fix typing for unnecessary cell rendering fix
  euporie/core/tabs/notebook.py
  euporie/core/widgets/cell.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Colored command line help text
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/config.py
  euporie/core/pygments.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Clean up unused markdown style
  euporie/core/app.py
  euporie/core/style.py
Due: ssort, black, isort, flake8

Scroll selected cell into view when entering cell edit mode
  CHANGELOG.rst
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Significantly dejankify notebook scrolling
  CHANGELOG.rst
  euporie/core/widgets/page.py
Due: ssort, black, isort, flake8

Pre-render notebook cells in background thread
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/widgets/page.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Update tmux graphic passthrough docs
  euporie/core/app.py
Due: ssort, black, isort, flake8

Update readme
  README.rst
Due: none

Fix scolling bug
  CHANGELOG.rst
  euporie/core/widgets/page.py
Due: ssort, black, isort, flake8

Prevent underline on table padding
  euporie/core/formatted_text/table.py
Due: ssort, black, isort, flake8

Update log output styling
  euporie/core/log.py
  euporie/core/pygments.py
  euporie/core/style.py
  euporie/core/widgets/formatted_text_area.py
  euporie/notebook/tabs/log.py
Due: ssort, black, isort, flake8

Disable scrollbar for cell inputs
  euporie/core/widgets/cell_outputs.py
  euporie/core/widgets/display.py
Due: ssort, black, isort, flake8

Fix ipywidget range slider issue
  CHANGELOG.rst
  euporie/core/comm/ipywidgets.py
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Fix typing
  euporie/core/margins.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Release v2.0.4
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Add JSON cell output
  CHANGELOG.rst
  euporie/core/widgets/cell_outputs.py
  euporie/core/widgets/tree.py
Due: ssort, black, isort, flake8

Minor pygment style update
  euporie/core/pygments.py
Due: ssort, black, isort, flake8

Incremental scrollbar improvements
  euporie/core/comm/ipywidgets.py
  euporie/core/margins.py
  euporie/core/widgets/display.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/pager.py
Due: ssort, black, isort, flake8

Remove redundant overscroll check
  euporie/core/widgets/page.py
Due: ssort, black, isort, flake8

Fix keybinding dialog error
  euporie/core/widgets/dialog.py
Due: ssort, black, isort, flake8

Sort config sub-menus
  euporie/core/config.py
Due: ssort, black, isort, flake8

Minor formatting fix in changelog
  CHANGELOG.rst
Due: none

Release v2.0.5
  CHANGELOG.rst
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Hide kitty image detection APC if unsupported
  euporie/core/terminal.py
Due: ssort, black, isort, flake8

Permit color reports to end in BEL
  euporie/core/terminal.py
Due: ssort, black, isort, flake8

Handle empty CPR future list
  euporie/core/app.py
Due: ssort, black, isort, flake8

Fix graphics detection for Konsole
  CHANGELOG.rst
Due: none

Add custom renderer
  CHANGELOG.rst
  euporie/console/app.py
  euporie/core/app.py
  euporie/core/io.py
  euporie/core/renderer.py
  euporie/core/widgets/display.py
  euporie/core/widgets/page.py
  euporie/notebook/app.py
  euporie/notebook/tabs/notebook.py
  euporie/preview/app.py
Due: ssort, black, isort, flake8

Release v2.0.6
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Disable line wrapping before probing terminal
  CHANGELOG.rst
  euporie/core/terminal.py
Due: ssort, black, isort, flake8

Graphics rendering fixup
  CHANGELOG.rst
  euporie/core/__init__.py
  euporie/core/convert/formats/sixel.py
  euporie/core/widgets/display.py
  euporie/notebook/app.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Explicitly allow opening notebooks over http
  poetry.lock
  pyproject.toml
Due: check-toml

Update noxfile
  noxfile.py
Due: ssort, black, isort, flake8

Use cursor shapes
  CHANGELOG.rst
  euporie/core/app.py
Due: ssort, black, isort, flake8
