Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: fix-byte-order-marker
        language: system
        types: [text]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ssort
        name: ssort
        entry: poetry run ssort
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: system
        types: [text]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

Add new publishing script using hatch
  scripts/publish.py
Due: ssort, black, isort, flake8

Fix PIL import error
  CHANGELOG.rst
  euporie/core/convert/formats/pil.py
Due: ssort, black, isort, flake8

Do not skip linting overloaded functions.
  euporie/core/utils.py
Due: ssort, black, isort, flake8

Update required prompt_toolkit version
  pyproject.toml
Due: check-toml

Fix typing/linting on instances of setattr
  euporie/core/app.py
  euporie/core/widgets/display.py
  euporie/core/widgets/page.py
  euporie/preview/app.py
Due: ssort, black, isort, flake8

Name the `show` app
  scripts/show.py
Due: ssort, black, isort, flake8

Add graphics protocol preference setting
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/io.py
  euporie/core/terminal.py
  euporie/core/widgets/display.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Move note about GCC down a bit
  docs/pages/installation.rst
Due: none

Update to note that gcc-11 may need to be installed
  docs/pages/installation.rst
Due: none

Add note syntax; further explanation of pre-reqs
  docs/pages/installation.rst
Due: none

Fix publish script
  scripts/publish.py
Due: ssort, black, isort, flake8

Release v2.2.1
  euporie/core/__init__.py
Due: ssort, black, isort, flake8

Minor fix for publication script
  scripts/publish.py
Due: ssort, black, isort, flake8

Update lexing options
  pyproject.toml
Due: check-toml

Revert borking of documentation scripts
  scripts/document_cli_flags.py
  scripts/document_configuration_options.py
Due: ssort, black, isort, flake8

Improvements to widget styling
  euporie/core/app.py
  euporie/core/comm/ipywidgets.py
  euporie/core/style.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Fix issue with first button in ToggleButtons
  euporie/core/comm/ipywidgets.py
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Add option to disable terminal graphics
  euporie/core/app.py
  euporie/core/widgets/display.py
Due: ssort, black, isort, flake8

Fix crash when merging last cells
  CHANGELOG.rst
  euporie/core/widgets/page.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Add default dropdown menu style
  euporie/core/style.py
Due: ssort, black, isort, flake8

Move child selection function to ScrollingContainer
  euporie/core/widgets/cell.py
  euporie/core/widgets/page.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Add home/end shortcuts for slider widget
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Fix cell selection after deleting last cell
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Relax dependency constraints
  CHANGELOG.rst
  pyproject.toml
Due: check-toml

Fix iterm graphic cropping
  euporie/core/widgets/display.py
Due: ssort, black, isort, flake8

Make selected button's face color distinct
  euporie/core/style.py
Due: ssort, black, isort, flake8

Add options to text form widget.
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Ensure Buttons do not expand width
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Add a text editor tab
  euporie/core/widgets/display.py
  euporie/notebook/app.py
  euporie/notebook/tabs/edit.py
Due: ssort, black, isort, flake8

Add a file display tab
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/convert/formats/common.py
  euporie/core/convert/formats/formatted_text.py
  euporie/core/convert/formats/html.py
  euporie/core/convert/formats/markdown.py
  euporie/core/convert/formats/png.py
  euporie/core/convert/formats/rich.py
  euporie/core/tabs/base.py
  euporie/core/tabs/display.py
  euporie/core/widgets/forms.py
  euporie/notebook/app.py
Due: ssort, black, isort, flake8

Add file browser to notebook app
  euporie/core/app.py
  euporie/core/style.py
  euporie/core/widgets/decor.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/layout.py
  euporie/core/widgets/menu.py
  euporie/notebook/app.py
  euporie/notebook/tabs/notebook.py
  euporie/notebook/widgets/sidebar.py
Due: ssort, black, isort, flake8

Make ScrollingContainer child agnostic
  euporie/core/tabs/notebook.py
  euporie/core/widgets/cell.py
  euporie/core/widgets/page.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Fix `ScrollingContainer` size issues
  euporie/core/margins.py
  euporie/core/widgets/page.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Update changelog
  CHANGELOG.rst
Due: none

Apply default form input styles
  euporie/core/style.py
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Attempt to lex ansi text
  euporie/core/convert/formats/formatted_text.py
Due: ssort, black, isort, flake8

Fix issue with Button widget
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Improve scroll-bar margin autohide functionality
  euporie/core/filters.py
  euporie/core/margins.py
  euporie/core/widgets/display.py
  euporie/core/widgets/inputs.py
Due: ssort, black, isort, flake8

Improvements to dropdown widget
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8
