Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ssort:
  name: ssort
  entry: poetry run ssort
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

Fix some typos and update documentation
  .codespellrc
  .pre-commit-config.yaml
  docs/pages/configuration.rst
  docs/pages/keybindings.rst
  docs/pages/usage.rst
  docs/reference/euporie.commands.cell.edit_next_cell.rst
  docs/reference/euporie.commands.cell.edit_previous_cell.rst
  docs/reference/euporie.commands.cell.enter_cell_edit_mode.rst
  docs/reference/euporie.commands.cell.rst
  docs/reference/euporie.commands.notebook.enter_cell_edit_mode.rst
  docs/reference/euporie.commands.notebook.exit_edit_mode.rst
  docs/reference/euporie.commands.notebook.extend_cell_selection_to_bottom.rst
  docs/reference/euporie.commands.notebook.extend_cell_selection_to_top.rst
  docs/reference/euporie.commands.notebook.next_child.rst
  docs/reference/euporie.commands.notebook.rst
  docs/reference/euporie.commands.notebook.select_next_cell.rst
  docs/reference/euporie.convert.base.Converter.rst
  docs/reference/euporie.convert.base.rst
  euporie/box.py
  euporie/cell.py
  euporie/commands/base.py
  euporie/config.py
  euporie/convert/base.py
  euporie/convert/util.py
  euporie/kernel.py
  euporie/log.py
  euporie/notebook.py
  euporie/output/container.py
  euporie/scroll.py
  euporie/suggest.py
  euporie/terminal.py
  noxfile.py
  poetry.lock
  pyproject.toml
  scripts/document_config_options.py
  scripts/publish.py
Due: check-toml, check-yaml, ssort, black, isort, flake8

Add cell movement shortcuts
  CHANGELOG.rst
  docs/pages/keybindings.rst
  euporie/commands/notebook.py
Due: ssort, black, isort, flake8

Add bracket matching
  CHANGELOG.rst
  euporie/app/base.py
  euporie/cell.py
  euporie/commands/buffer.py
Due: ssort, black, isort, flake8

Fix error when selecting the last cell
  euporie/notebook.py
Due: ssort, black, isort, flake8

Begin implementing new markdown parser
  euporie/app/base.py
  euporie/app/contents.py
  euporie/app/tui.py
  euporie/box.py
  euporie/commands/base.py
  euporie/convert/__init__.py
  euporie/convert/formats/ansi.py
  euporie/convert/formats/formatted_text.py
  euporie/convert/formats/markdown.py
  euporie/convert/formats/rich.py
  euporie/formatted_text/__init__.py
  euporie/formatted_text/ansi.py
  euporie/formatted_text/markdown.py
  euporie/formatted_text/util.py
  euporie/formatted_text_area.py
  euporie/image.py
  euporie/log.py
  euporie/markdown/__init__.py
  euporie/markdown/blocks/__init__.py
  euporie/markdown/blocks/math.py
  euporie/markdown/blocks/tables.py
  euporie/markdown/inlines.py
  euporie/markdown/parser.py
  euporie/markdown/rich.py
  euporie/menu/__init__.py
  euporie/menu/contents.py
  euporie/menu/item.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/widgets/formatted_text_area.py
  euporie/widgets/menu.py
  poetry.lock
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Prevent ssort wiping cells with just comments
  CHANGELOG.rst
  euporie/format.py
  poetry.lock
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Release v1.3.2
  euporie/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Fix configurable logging regression
  euporie/app/base.py
Due: ssort, black, isort, flake8

Update link for jut
  docs/pages/related.rst
Due: none

Allow extending cell selection with mouse
  CHANGELOG.rst
  euporie/cell.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/notebook.py
  euporie/scroll.py
Due: ssort, black, isort, flake8

Clean up notebook command / edit modes.
  CHANGELOG.rst
  euporie/cell.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/notebook.py
Due: ssort, black, isort, flake8

Fixes to keybindings documentation
  docs/pages/keybindings.rst
  euporie/key_binding/util.py
Due: ssort, black, isort, flake8

Fix editing cells in external editor
  CHANGELOG.rst
  euporie/commands/base.py
Due: ssort, black, isort, flake8

Allow navigating between cells in edit mode
  CHANGELOG.rst
  euporie/cell.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/filters.py
Due: ssort, black, isort, flake8

Fix types in usage docmentation script
  scripts/document_usage.py
Due: ssort, black, isort, flake8

Fix typo
  euporie/kernel.py
Due: ssort, black, isort, flake8

Remove unnecessary debug statement
  euporie/notebook.py
Due: ssort, black, isort, flake8

Fix multiple bugs with external image converters
  CHANGELOG.rst
  euporie/convert/formats/ansi.py
Due: ssort, black, isort, flake8

Begin implementing new markdown parser
  euporie/app/base.py
  euporie/app/contents.py
  euporie/app/tui.py
  euporie/box.py
  euporie/commands/base.py
  euporie/convert/__init__.py
  euporie/convert/formats/formatted_text.py
  euporie/convert/formats/markdown.py
  euporie/convert/formats/rich.py
  euporie/formatted_text/__init__.py
  euporie/formatted_text/ansi.py
  euporie/formatted_text/markdown.py
  euporie/formatted_text/util.py
  euporie/formatted_text_area.py
  euporie/image.py
  euporie/log.py
  euporie/markdown/__init__.py
  euporie/markdown/blocks/__init__.py
  euporie/markdown/blocks/math.py
  euporie/markdown/blocks/tables.py
  euporie/markdown/inlines.py
  euporie/markdown/parser.py
  euporie/markdown/rich.py
  euporie/menu/__init__.py
  euporie/menu/contents.py
  euporie/menu/item.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/widgets/formatted_text_area.py
  euporie/widgets/menu.py
  poetry.lock
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Implement a new markdown to formatted text parser
  CHANGELOG.rst
  euporie/app/base.py
  euporie/app/contents.py
  euporie/app/tui.py
  euporie/box.py
  euporie/convert/__init__.py
  euporie/convert/base.py
  euporie/convert/formats/formatted_text.py
  euporie/convert/formats/markdown.py
  euporie/convert/formats/rich.py
  euporie/convert/util.py
  euporie/formatted_text/__init__.py
  euporie/formatted_text/markdown.py
  euporie/formatted_text/markdown_enhanced.py
  euporie/formatted_text/util.py
  euporie/formatted_text_area.py
  euporie/image.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/url.py
  euporie/widgets/__init__.py
  euporie/widgets/formatted_text_area.py
  euporie/widgets/menu.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_euporie.py
  tests/test_url.py
Due: check-toml, ssort, black, isort, flake8

Handle errors in invalid base64 url data
  euporie/url.py
Due: ssort, black, isort, flake8

Improvements to markdown image rendering
  euporie/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Ensure images re-render when terminal font size changes
  CHANGELOG.rst
  euporie/formatted_text/markdown_enhanced.py
  euporie/output/container.py
  euporie/output/control.py
Due: ssort, black, isort, flake8

Use markdown plugins in base renderer if available
  euporie/formatted_text/markdown.py
  euporie/formatted_text/markdown_enhanced.py
Due: ssort, black, isort, flake8

Rename `formatted_text.util` to `utils` to match ptk API.
  euporie/formatted_text/markdown.py
  euporie/formatted_text/markdown_enhanced.py
  euporie/formatted_text/utils.py
Due: ssort, black, isort, flake8

Fix bug with ssort bug fix
  euporie/format.py
Due: ssort, black, isort, flake8

Add markdown ordered list formatted
  euporie/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Fix word selection in case toggle command
  CHANGELOG.rst
  euporie/commands/buffer.py
Due: ssort, black, isort, flake8

Only query terminal if output is a tty
  CHANGELOG.rst
  euporie/terminal.py
Due: ssort, black, isort, flake8

Update usage documentation
  README.rst
  docs/pages/usage.rst
  docs/reference/euporie.formatted_text.markdown.ol.rst
  docs/reference/euporie.formatted_text.markdown.rst
  docs/reference/euporie.formatted_text.rst
  docs/reference/euporie.formatted_text.util.add_border.rst
  docs/reference/euporie.formatted_text.util.align.rst
  docs/reference/euporie.formatted_text.util.apply_style.rst
  docs/reference/euporie.formatted_text.util.fragment_list_to_words.rst
  docs/reference/euporie.formatted_text.util.indent.rst
  docs/reference/euporie.formatted_text.util.last_line_length.rst
  docs/reference/euporie.formatted_text.util.lex.rst
  docs/reference/euporie.formatted_text.util.max_line_width.rst
  docs/reference/euporie.formatted_text.util.strip.rst
  docs/reference/euporie.formatted_text.util.truncate.rst
  docs/reference/euporie.formatted_text.util.wrap.rst
  docs/reference/euporie.formatted_text.utils.add_border.rst
  docs/reference/euporie.formatted_text.utils.align.rst
  docs/reference/euporie.formatted_text.utils.apply_style.rst
  docs/reference/euporie.formatted_text.utils.fragment_list_to_words.rst
  docs/reference/euporie.formatted_text.utils.indent.rst
  docs/reference/euporie.formatted_text.utils.last_line_length.rst
  docs/reference/euporie.formatted_text.utils.lex.rst
  docs/reference/euporie.formatted_text.utils.max_line_width.rst
  docs/reference/euporie.formatted_text.utils.rst
  docs/reference/euporie.formatted_text.utils.strip.rst
  docs/reference/euporie.formatted_text.utils.truncate.rst
  docs/reference/euporie.formatted_text.utils.wrap.rst
  docs/reference/euporie.rst
Due: none

Refactor markdown formatter
  euporie/app/base.py
  euporie/box.py
  euporie/cell.py
  euporie/formatted_text/markdown.py
  euporie/formatted_text/markdown_enhanced.py
  euporie/formatted_text/utils.py
  euporie/widgets/menu.py
  poetry.lock
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Fix linting / types / tests
  euporie/app/dump.py
  euporie/commands/buffer.py
  euporie/commands/format.py
  euporie/kernel.py
  euporie/key_binding/bindings/micro.py
  euporie/style.py
  noxfile.py
  tests/test_euporie.py
Due: ssort, black, isort, flake8

Create new v1.4.0 release
  CHANGELOG.rst
  README.rst
  docs/pages/gallery.rst
  docs/pages/keybindings.rst
  docs/reference/euporie.box.Border.rst
  docs/reference/euporie.box.NoBorder.rst
  docs/reference/euporie.box.ThickBorder.rst
  docs/reference/euporie.box.ThickVerticalBorder.rst
  docs/reference/euporie.box.ThickVerticalEdgeBorder.rst
  docs/reference/euporie.box.rst
  docs/reference/euporie.formatted_text.utils.FormattedTextAlign.rst
  docs/reference/euporie.formatted_text.utils.rst
  docs/reference/euporie.rst
  euporie/__init__.py
  pyproject.toml
  tests/test_euporie.py
Due: check-toml, ssort, black, isort, flake8

Fix markdown formatting bug
  CHANGELOG.rst
  euporie/__init__.py
  euporie/formatted_text/utils.py
  pyproject.toml
  tests/test_euporie.py
Due: check-toml, ssort, black, isort, flake8

Generate colored output with elinks HTML renderer
  CHANGELOG.rst
  euporie/convert/formats/ansi.py
Due: ssort, black, isort, flake8

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ssort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
