Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: fix-byte-order-marker
        language: system
        types: [text]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ssort
        name: ssort
        entry: poetry run ssort
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: system
        types: [text]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

Fix scrollbar styles
  euporie/core/style.py
Due: ssort, black, isort, flake8

Release v2.1.0
  CHANGELOG.rst
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Do not cut when deleting word in micro edit mode
  CHANGELOG.rst
  euporie/core/key_binding/bindings/micro.py
Due: ssort, black, isort, flake8

Ensure select uses available width in kernel selection dialog
  CHANGELOG.rst
  euporie/core/widgets/dialog.py
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Release v2.1.1
  CHANGELOG.rst
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Linting fixes
  .flake8
  euporie/core/url.py
  euporie/hub/app.py
Due: ssort, black, isort, flake8

Use `lru_cache` instead of `cache` for 3.8 compatibility
  euporie/core/border.py
Due: ssort, black, isort, flake8

Release v2.1.2
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Update changelog
  CHANGELOG.rst
Due: none

Add dockerfile
  Dockerfile
Due: none

Adjust cell input/output click area
  euporie/core/widgets/cell.py
Due: ssort, black, isort, flake8

Ensure logo is visible in docs
  docs/_static/custom.css
Due: none

Allow application name to be passed to config at load
  euporie/core/config.py
Due: ssort, black, isort, flake8

Allow path to be passed during format conversion
  euporie/core/convert/base.py
  euporie/core/convert/formats/ansi.py
  euporie/core/convert/formats/base64.py
  euporie/core/convert/formats/common.py
  euporie/core/convert/formats/formatted_text.py
  euporie/core/convert/formats/html.py
  euporie/core/convert/formats/markdown.py
  euporie/core/convert/formats/pil.py
  euporie/core/convert/formats/png.py
  euporie/core/convert/formats/rich.py
  euporie/core/convert/formats/sixel.py
  euporie/core/convert/utils.py
  euporie/core/formatted_text/html.py
  euporie/core/widgets/cell_outputs.py
  euporie/core/widgets/display.py
  euporie/core/widgets/pager.py
Due: ssort, black, isort, flake8

Fix HTML rendering bugs and add additional CSS styles
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/table.py
  euporie/core/formatted_text/utils.py
  euporie/core/style.py
Due: ssort, black, isort, flake8

Fix application default fg/bg colors
  euporie/core/app.py
Due: ssort, black, isort, flake8

Fix code block language detection in HTML
  euporie/core/formatted_text/html.py
Due: ssort, black, isort, flake8

Add tab reset command
  CHANGELOG.rst
  euporie/core/tabs/base.py
  euporie/core/tabs/notebook.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Fixup dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Release v2.1.3
  CHANGELOG.rst
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Add script to render files
  scripts/show.py
Due: ssort, black, isort, flake8

Fix universal-pathlib dependency constraint
  poetry.lock
  pyproject.toml
Due: check-toml

Re-render all cells on notebook reset
  CHANGELOG.rst
  euporie/core/tabs/notebook.py
Due: ssort, black, isort, flake8

Release v2.1.4
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Prevent exception when adding a cell during render
  CHANGELOG.rst
  euporie/core/widgets/page.py
Due: ssort, black, isort, flake8

Fix kitty graphic sizing issue
  euporie/core/widgets/display.py
Due: ssort, black, isort, flake8

Fix scrolling left in Display objects
  euporie/core/widgets/display.py
Due: ssort, black, isort, flake8

Revert to prompt_toolkit's background task cleanup
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/convert/formats/formatted_text.py
  scripts/show.py
Due: ssort, black, isort, flake8

Release v2.1.5
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Fix left scrolling of `Display` containers.
  CHANGELOG.rst
  euporie/core/widgets/display.py
  euporie/core/widgets/page.py
Due: ssort, black, isort, flake8

Fix automatic contextual help
  CHANGELOG.rst
  euporie/core/widgets/cell.py
Due: ssort, black, isort, flake8

Make drop shadows configurable
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/widgets/decor.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/menu.py
Due: ssort, black, isort, flake8

Catch upath NotImplementedError on resolve
  euporie/core/utils.py
Due: ssort, black, isort, flake8

Minor typing fix
  euporie/preview/tabs/notebook.py
Due: ssort, black, isort, flake8

Move to hatch from poetry
  .codespellrc
  .darglint
  .flake8
  .gitignore
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  scripts/pre_commit_patch.py
Due: check-toml, check-yaml, ssort, black, isort, flake8

Bump version 2.1.5 → 2.2.0
  euporie/core/__init__.py
Due: ssort, black, isort, flake8

Fix error in changelog
  CHANGELOG.rst
  pyproject.toml
Due: check-toml

Do not use hatch-regex-commit
  pyproject.toml
Due: check-toml
