Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: fix-byte-order-marker
        language: system
        types: [text]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ssort
        name: ssort
        entry: poetry run ssort
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: system
        types: [text]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

Further improvements to the HTML renderer
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/utils.py
Due: ssort, black, isort, flake8

Add HTML renderer tests
  tests/test_formatted_text_html.py
Due: ssort, black, isort, flake8

Type checking
  euporie/core/convert/formats/html.py
  euporie/core/formatted_text/html.py
Due: ssort, black, isort, flake8

Fix broken link in 'related' docs page
  docs/pages/related.rst
  euporie/core/formatted_text/markdown.py
  euporie/core/formatted_text/markdown_enhanced.py
Due: ssort, black, isort, flake8

Remove markdown to formatted text renderer
  euporie/core/convert/formats/formatted_text.py
  poetry.lock
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Only set execution count if Truthy
  euporie/core/kernel.py
Due: ssort, black, isort, flake8

Update changelog
  CHANGELOG.rst
Due: none

Rename default_kernel_name config to kernel_name
  euporie/console/tabs/console.py
  euporie/core/tabs/base.py
Due: ssort, black, isort, flake8

Add comment
  euporie/core/widgets/cell_outputs.py
Due: ssort, black, isort, flake8

Correct docstring
  euporie/core/formatted_text/html.py
Due: ssort, black, isort, flake8

Fix scrolling when moving between cells in edit mode
  euporie/core/widgets/cell.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Fix label alignment & support `description_allow_html` in ipywidgets
  euporie/core/comm/ipywidgets.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/inputs.py
Due: ssort, black, isort, flake8

Update straplines
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Reserve space for dialogs in console
  euporie/console/app.py
Due: ssort, black, isort, flake8

Auto-indent on newline inside brackets
  CHANGELOG.rst
  euporie/core/key_binding/bindings/micro.py
Due: ssort, black, isort, flake8

Set error dialog traceback minimum height
  euporie/core/widgets/dialog.py
Due: ssort, black, isort, flake8

Collapse HMTL block margins at start and end of blocks
  euporie/core/formatted_text/html.py
  poetry.lock
  pyproject.toml
  tests/test_formatted_text_html.py
Due: check-toml, ssort, black, isort, flake8

Allow HTML padding to be skipped
  euporie/core/formatted_text/html.py
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Fix rare nbformat cell-missing-outputs bug
  euporie/core/widgets/cell.py
Due: ssort, black, isort, flake8

Fix terminal feature detection
  euporie/core/current.py
  euporie/core/formatted_text/html.py
Due: ssort, black, isort, flake8

Add logo to console app status bar
  euporie/console/app.py
Due: ssort, black, isort, flake8

Reset buffer on c-c in console
  euporie/console/tabs/console.py
Due: ssort, black, isort, flake8

Fix console run shortcuts
  euporie/console/tabs/console.py
Due: ssort, black, isort, flake8

Provide height for completions in console
  euporie/console/app.py
Due: ssort, black, isort, flake8

Tidy imports
  euporie/core/widgets/display.py
Due: ssort, black, isort, flake8

Update console screencast in docs
  docs/apps/console.rst
Due: none

Focus input box when console screen is cleared
  euporie/console/app.py
Due: ssort, black, isort, flake8

Fix typo in docs
  docs/apps/console.rst
Due: none

Bump version number
  CHANGELOG.rst
  LICENSE
  euporie/core/__init__.py
  poetry.lock
  pyproject.toml
  scripts/publish.py
Due: check-toml, ssort, black, isort, flake8

Correct readme markup
  README.rst
Due: none

Remove useless version number test
  tests/test_euporie.py
Due: ssort, black, isort, flake8

Fix HTML math rendering
  CHANGELOG.rst
  euporie/core/__init__.py
  euporie/core/formatted_text/html.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Fix docs link to Euporie Console
  docs/pages/overview.rst
Due: none

Another minor fix to docs
  docs/pages/overview.rst
Due: none

Make css alignment parsing more robust
  euporie/core/formatted_text/html.py
Due: ssort, black, isort, flake8

Fix issue with FloatLogSlider ipywidgets
  euporie/core/comm/ipywidgets.py
Due: ssort, black, isort, flake8

Minor typing fix
  euporie/console/app.py
Due: ssort, black, isort, flake8

Bump version number
  euporie/core/__init__.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8
