Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ssort:
  name: ssort
  entry: poetry run ssort
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

Fix HTML table colspan border rendering issue
  CHANGELOG.rst
  euporie/core/formatted_text/table.py
Due: ssort, black, isort, flake8

Improve widget hover styling
  euporie/core/style.py
  euporie/core/widgets/decor.py
  euporie/core/widgets/file_browser.py
Due: ssort, black, isort, flake8

Show message-box if kernel dies
  CHANGELOG.rst
  euporie/core/kernel.py
  euporie/core/tabs/notebook.py
  euporie/core/widgets/dialog.py
Due: ssort, black, isort, flake8

Allow closing tabs with middle click
  CHANGELOG.rst
  euporie/core/widgets/layout.py
Due: ssort, black, isort, flake8

Add dead kernel warning to console
  euporie/console/tabs/console.py
Due: ssort, black, isort, flake8

Remove references to ipython from pyproject.toml
  pyproject.toml
Due: check-toml

Fix typos in documentation
  docs/pages/keybindings.rst
Due: none

Add CSI-u mode backtab key
  euporie/core/keys.py
Due: ssort, black, isort, flake8

Update cell border styles
  euporie/console/tabs/console.py
  euporie/core/style.py
  euporie/core/widgets/cell.py
Due: ssort, black, isort, flake8

Fix display of images touching right edge or terminal
  CHANGELOG.rst
  euporie/core/renderer.py
Due: ssort, black, isort, flake8

Fix markdown latex rendering
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Fixes to markdown CSS
  euporie/core/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Update hero image
  README.rst
Due: none

Revert cell selection background changes
  euporie/core/style.py
Due: ssort, black, isort, flake8

Strip one trailing new-line from cell output
  euporie/core/convert/formats/formatted_text.py
Due: ssort, black, isort, flake8

Browse console history with `Ctrl+up/down`
  CHANGELOG.rst
  euporie/console/tabs/console.py
Due: ssort, black, isort, flake8

Add use-cases
  README.rst
Due: none

Typing fixes
  euporie/console/tabs/console.py
  euporie/core/app.py
  euporie/core/comm/ipywidgets.py
  euporie/core/config.py
  euporie/core/convert/base.py
  euporie/core/convert/formats/png.py
  euporie/core/formatted_text/html.py
  euporie/core/kernel.py
  euporie/core/launch.py
  euporie/core/log.py
  euporie/core/renderer.py
  euporie/core/tabs/base.py
  euporie/core/tabs/notebook.py
  euporie/core/url.py
  euporie/core/widgets/cell.py
  euporie/core/widgets/decor.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/layout.py
  euporie/notebook/tabs/log.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Increment version number
  CHANGELOG.rst
  euporie/core/__init__.py
Due: ssort, black, isort, flake8

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ssort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
