Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: fix-byte-order-marker
        language: system
        types: [text]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ssort
        name: ssort
        entry: poetry run ssort
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: system
        types: [text]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

Add 'Clear Cell Outputs' to Edit menu
  euporie/notebook/app.py
Due: ssort, black, isort, flake8

Do not break tqdm by lexing text output
  euporie/core/convert/formats/formatted_text.py
Due: ssort, black, isort, flake8

Add app command reference to documentation
  docs/apps/console.rst
  docs/apps/console_commands.rst
  docs/apps/hub.rst
  docs/apps/hub_commands.rst
  docs/apps/notebook.rst
  docs/apps/notebook_commands.rst
  docs/apps/preview.rst
  docs/apps/preview_commands.rst
  scripts/document_commands.py
Due: ssort, black, isort, flake8

Correct typo in installation docs
  docs/pages/installation.rst
Due: none

Major refactor of HTML rendere, Table renderer and borders
  euporie/core/border.py
  euporie/core/comm/ipywidgets.py
  euporie/core/convert/base.py
  euporie/core/convert/formats/ansi.py
  euporie/core/convert/formats/formatted_text.py
  euporie/core/convert/formats/png.py
  euporie/core/convert/utils.py
  euporie/core/data_structures.py
  euporie/core/filters.py
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/table.py
  euporie/core/formatted_text/utils.py
  euporie/core/reference.py
  euporie/core/style.py
  euporie/core/url.py
  euporie/core/widgets/cell.py
  euporie/core/widgets/decor.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/display.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/layout.py
  euporie/core/widgets/menu.py
  euporie/core/widgets/page.py
  euporie/core/widgets/palette.py
  euporie/notebook/app.py
  euporie/notebook/current.py
  euporie/notebook/widgets/side_bar.py
  euporie/preview/tabs/notebook.py
  pyproject.toml
  scripts/document_default_key_bindings.py
  tests/test_formatted_text_html.py
Due: check-toml, ssort, black, isort, flake8

Return a default border width if the table is not yet fully contructed
  euporie/core/formatted_text/table.py
Due: ssort, black, isort, flake8

Add a full line style
  euporie/core/border.py
  euporie/core/formatted_text/table.py
  euporie/core/widgets/dialog.py
Due: ssort, black, isort, flake8

Use first page of PDFs when converting with imagemagick
  euporie/core/convert/formats/common.py
Due: ssort, black, isort, flake8

Collapse borders in table rows properly
  euporie/core/formatted_text/table.py
Due: ssort, black, isort, flake8

HTML rendering optimizations
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/table.py
Due: ssort, black, isort, flake8

More HTML rendering optimizations
  euporie/core/border.py
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/table.py
Due: ssort, black, isort, flake8

Fix accidental overwrite of changing cell type instructions in notebook docs
  docs/apps/notebook.rst
Due: none

Enforce `tmux_graphics` setting
  euporie/core/widgets/display.py
Due: ssort, black, isort, flake8

Add CSS theme for markdown
  euporie/core/convert/formats/formatted_text.py
  euporie/core/convert/formats/html.py
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/markdown.py
  euporie/core/formatted_text/utils.py
  euporie/core/style.py
Due: ssort, black, isort, flake8

Pressing escape should dismiss completion menu
  euporie/core/key_binding/bindings/completion.py
Due: ssort, black, isort, flake8

Refactor shadows.
  euporie/core/app.py
  euporie/core/style.py
  euporie/core/widgets/decor.py
Due: ssort, black, isort, flake8

Update changelog
  CHANGELOG.rst
Due: none

Vertically centre images in markdown
  euporie/core/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Replace status-bar with search-bar in console
  euporie/console/app.py
Due: ssort, black, isort, flake8

Rename console tab to ConsoleTab
  euporie/console/app.py
  euporie/console/tabs/console.py
Due: ssort, black, isort, flake8
