Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ssort:
  name: ssort
  entry: poetry run ssort
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

Use quarter block for vertical widget borders
  euporie/core/border.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/layout.py
Due: ssort, black, isort, flake8

Save text files and safer file saving
  CHANGELOG.rst
  euporie/core/tabs/base.py
  euporie/core/tabs/notebook.py
  euporie/notebook/app.py
  euporie/notebook/tabs/edit.py
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Rename `convert.base` -> `convert.core`
  euporie/core/convert/core.py
  euporie/core/convert/formats/ansi.py
  euporie/core/convert/formats/base64.py
  euporie/core/convert/formats/formatted_text.py
  euporie/core/convert/formats/html.py
  euporie/core/convert/formats/jpeg.py
  euporie/core/convert/formats/markdown.py
  euporie/core/convert/formats/pdf.py
  euporie/core/convert/formats/pil.py
  euporie/core/convert/formats/png.py
  euporie/core/convert/formats/rich.py
  euporie/core/convert/formats/sixel.py
  euporie/core/convert/utils.py
  euporie/core/formatted_text/html.py
  euporie/core/utils.py
  euporie/core/widgets/cell_outputs.py
  euporie/core/widgets/display.py
  euporie/core/widgets/pager.py
  euporie/notebook/app.py
  euporie/notebook/tabs/display.py
  scripts/show.py
Due: ssort, black, isort, flake8

Implement better mime-type detection
  CHANGELOG.rst
  euporie/core/__init__.py
  euporie/core/convert/core.py
  euporie/core/formatted_text/html.py
  euporie/core/path.py
  euporie/core/tabs/notebook.py
  euporie/core/url.py
  euporie/core/utils.py
  euporie/notebook/app.py
  euporie/notebook/tabs/edit.py
  pyproject.toml
  scripts/show.py
  tests/test_url.py
Due: check-toml, ssort, black, isort, flake8

Select text on find-next
  CHANGELOG.rst
  euporie/core/widgets/search_bar.py
Due: ssort, black, isort, flake8

Fix error in documentation of key-binding
  scripts/document_default_key_bindings.py
Due: ssort, black, isort, flake8

Add `*.desktop` files
  CHANGELOG.rst
  euporie/data/bin/ec
  euporie/data/bin/en
  euporie/data/bin/ep
  euporie/data/desktop/euporie-console.desktop
  euporie/data/desktop/euporie-notebook.desktop
  pyproject.toml
Due: check-toml

Fix euporie-hub
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/io.py
  euporie/core/terminal.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Improve ability to connect to existing kernels
  CHANGELOG.rst
  euporie/console/tabs/console.py
  euporie/core/kernel.py
  euporie/core/style.py
  euporie/core/tabs/base.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/layout.py
Due: ssort, black, isort, flake8

Typing fixes
  euporie/core/kernel.py
  euporie/core/tabs/base.py
  euporie/core/widgets/forms.py
Due: ssort, black, isort, flake8

Improvements to HTML rendering
  euporie/core/formatted_text/html.py
  euporie/core/path.py
Due: ssort, black, isort, flake8

Add web browser tab
  euporie/core/convert/core.py
  euporie/core/style.py
  euporie/core/widgets/display.py
  euporie/notebook/app.py
  euporie/web/tabs/web.py
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Fix HTML alignment
  euporie/core/formatted_text/html.py
Due: ssort, black, isort, flake8

Remove command aliases
  euporie/core/path.py
  euporie/data/bin/ec
  euporie/data/bin/en
  euporie/data/bin/ep
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Update log tab format
  euporie/core/log.py
Due: ssort, black, isort, flake8

Remove excess logging event
  euporie/core/kernel.py
Due: ssort, black, isort, flake8

Remove unallowed additional properties from markdown cells
  euporie/notebook/tabs/notebook.py
Due: ssort, black, isort, flake8

Tweak fallback image conversion parameters
  euporie/core/convert/formats/ansi.py
Due: ssort, black, isort, flake8

Add better CSS media query block parsing
  euporie/core/formatted_text/html.py
  euporie/core/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Treat grid and flex elements as inline-block for the time being
  euporie/core/formatted_text/html.py
Due: ssort, black, isort, flake8

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ssort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
