Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ssort, black, isort, flake8

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ssort:
  name: ssort
  entry: poetry run ssort
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

Fix bug where markdown was not rendered
  euporie/widgets/output/container.py
Due: ssort, black, isort, flake8

Add newline after markdown tables
  euporie/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Bump version number
  CHANGELOG.rst
  euporie/__init__.py
  pyproject.toml
  tests/test_euporie.py
Due: check-toml, ssort, black, isort, flake8

Update readme usage instructions
  README.rst
Due: none

Correct example commands in documentation
  README.rst
  docs/pages/installation.rst
Due: none

Enable menu prefixes and suffixes to be collapsed
  euporie/widgets/menu.py
Due: ssort, black, isort, flake8

Remove extraneous line
  euporie/widgets/output/control.py
Due: ssort, black, isort, flake8

Enable `file:` scheme URIs in markdown links
  euporie/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Refactor markdown link formatting function
  euporie/formatted_text/markdown.py
Due: ssort, black, isort, flake8

Add prefix to variable graphic float style
  euporie/widgets/output/container.py
Due: ssort, black, isort, flake8

Change conflicting key-binding for go-to-matching-bracket
  euporie/commands/buffer.py
  euporie/key_binding/bindings/micro.py
Due: ssort, black, isort, flake8

Enable entering vi navigation mode
  CHANGELOG.rst
  euporie/commands/notebook.py
  euporie/filters.py
  euporie/tabs/notebook.py
Due: ssort, black, isort, flake8

Bump version number
  euporie/__init__.py
  pyproject.toml
  tests/test_euporie.py
Due: check-toml, ssort, black, isort, flake8

Display multiple cursors
  CHANGELOG.rst
  euporie/__init__.py
  euporie/widgets/cell.py
  pyproject.toml
  tests/test_euporie.py
Due: check-toml, ssort, black, isort, flake8

Add radiobutton and select widgets
  euporie/comm/ipywidgets.py
  euporie/style.py
  euporie/widgets/decor.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Implement more widgets
  euporie/comm/base.py
  euporie/comm/ipywidgets.py
  euporie/formatted_text/markdown.py
  euporie/style.py
  euporie/widgets/cell_outputs.py
  euporie/widgets/decor.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Begin implementing ipywidgets
  euporie/app/base.py
  euporie/border.py
  euporie/comm/base.py
  euporie/comm/ipywidgets.py
  euporie/comm/registry.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/convert/base.py
  euporie/formatted_text/markdown.py
  euporie/formatted_text/properties.py
  euporie/formatted_text/table.py
  euporie/formatted_text/utils.py
  euporie/kernel.py
  euporie/kernel_.py
  euporie/margins.py
  euporie/style.py
  euporie/tabs/notebook.py
  euporie/widgets/cell.py
  euporie/widgets/cell_outputs.py
  euporie/widgets/decor.py
  euporie/widgets/display.py
  euporie/widgets/inputs.py
  euporie/widgets/layout.py
Due: ssort, black, isort, flake8

Add dropdown widget
  euporie/border.py
  euporie/comm/ipywidgets.py
  euporie/formatted_text/properties.py
  euporie/formatted_text/table.py
  euporie/formatted_text/utils.py
  euporie/style.py
  euporie/widgets/decor.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Implement slider widget
  euporie/comm/ipywidgets.py
  euporie/style.py
  euporie/widgets/decor.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Add selection slider ipwidgets & refactor ipywidget styles
  euporie/comm/base.py
  euporie/comm/ipywidgets.py
  euporie/style.py
  euporie/widgets/decor.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Add even more ipywidgets
  euporie/app/base.py
  euporie/border.py
  euporie/comm/__init__.py
  euporie/comm/base.py
  euporie/comm/ipywidgets.py
  euporie/comm/registry.py
  euporie/commands/notebook.py
  euporie/convert/formats/png.py
  euporie/kernel.py
  euporie/kernel_.py
  euporie/style.py
  euporie/tabs/notebook.py
  euporie/terminal.py
  euporie/widgets/cell.py
  euporie/widgets/cell_outputs.py
  euporie/widgets/decor.py
  euporie/widgets/display.py
  euporie/widgets/inputs.py
  euporie/widgets/layout.py
  euporie/widgets/output/container.py
  euporie/widgets/tab_bar.py
Due: ssort, black, isort, flake8

Type checking ipywidgets
  .flake8
  euporie/comm/base.py
  euporie/comm/ipywidgets.py
  euporie/comm/registry.py
  euporie/kernel.py
  euporie/tabs/notebook.py
  euporie/widgets/cell.py
  euporie/widgets/cell_outputs.py
  euporie/widgets/inputs.py
  euporie/widgets/layout.py
Due: ssort, black, isort, flake8

Type check ipywidget implementation
  euporie/comm/ipywidgets.py
  euporie/formatted_text/utils.py
  euporie/kernel.py
  euporie/tabs/notebook.py
  euporie/widgets/decor.py
  euporie/widgets/display.py
  euporie/widgets/inputs.py
  euporie/widgets/layout.py
Due: ssort, black, isort, flake8

Complete linting and typing ipywidgets
  .codespellrc
  euporie/comm/__init__.py
  euporie/comm/base.py
  euporie/comm/ipywidgets.py
  euporie/comm/registry.py
  euporie/formatted_text/utils.py
  euporie/kernel.py
  euporie/reference.py
  euporie/tabs/notebook.py
  euporie/widgets/cell.py
  euporie/widgets/cell_outputs.py
  euporie/widgets/decor.py
  euporie/widgets/display.py
  euporie/widgets/inputs.py
  euporie/widgets/layout.py
  poetry.lock
  pyproject.toml
Due: check-toml, ssort, black, isort, flake8

Add ipywidget changes to changelog
  CHANGELOG.rst
Due: none

Bump version number to 2.0.0-dev
  euporie/__init__.py
  pyproject.toml
  tests/test_euporie.py
Due: check-toml, ssort, black, isort, flake8

Ensure toggle ipywidget toggle-buttons are synced
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Use custom widgets in dialogs
  CHANGELOG.rst
  README.rst
  euporie/app/edit.py
  euporie/style.py
  euporie/tabs/notebook.py
  euporie/widgets/inputs.py
  euporie/widgets/palette.py
Due: ssort, black, isort, flake8

Enable un-deleting cells
  CHANGELOG.rst
  docs/pages/keybindings.rst
  euporie/app/edit.py
  euporie/commands/notebook.py
  euporie/filters.py
  euporie/tabs/notebook.py
Due: ssort, black, isort, flake8

Fix kernel selection at startup
  euporie/kernel.py
  euporie/tabs/notebook.py
Due: ssort, black, isort, flake8

Fix output and slider ipywidgets
  euporie/comm/ipywidgets.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Improve large menu performance & shadows
  euporie/style.py
  euporie/widgets/menu.py
Due: ssort, black, isort, flake8

Detect more terminal colors
  euporie/app/base.py
  euporie/app/edit.py
  euporie/style.py
  euporie/terminal.py
Due: ssort, black, isort, flake8

Path the renderer to record changes in ZWE sequences
  CHANGELOG.rst
  euporie/__init__.py
  euporie/__main__.py
  euporie/renderer.py
Due: ssort, black, isort, flake8

Allow disabling ipywidgets
  euporie/comm/ipywidgets.py
  euporie/style.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Load widgets from notebook metadata
  euporie/comm/ipywidgets.py
  euporie/tabs/notebook.py
  euporie/widgets/inputs.py
Due: ssort, black, isort, flake8

Fix error when creating new notebook tab
  euporie/tabs/base.py
Due: ssort, black, isort, flake8

Attempt fix for `KeyError (0)` error
  euporie/tabs/notebook.py
Due: ssort, black, isort, flake8

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ssort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
